In [60]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [61]:
from google.colab import drive

In [62]:
import pandas as pd

dataset=pd.read_csv('/content/example_dataset.csv')

**1. Central Tendency of Dataset**

In [63]:
dataset.head()

,Year,Month,Cereals and products,Meat and fish,Egg,Milk and products,Fruits,Vegetables,Food and beverages,Fuel and light
0,2021,January,143.4,187.5,173.4,154.0,147.0,187.8,159.6,150.9
1,2021,January,148.0,194.8,178.4,290.4,152.6,206.8,163.4,142.9
2,2021,January,284.9,190.1,175.3,294.1,149.6,194.2,161.0,98.9
3,2021,February,342.8,184.0,168.0,304.4,147.8,149.7,154.7,94.4
4,2021,February,147.6,191.2,169.9,155.1,154.0,180.2,160.8,97.1

In [64]:
dataset.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Year                    2021.000000
Cereals and products     159.347222
Meat and fish            191.800000
Egg                      179.805556
Milk and products        179.963889
Fruits                   156.980556
Vegetables               177.127778
Food and beverages       173.005556
Fuel and light           165.347222
dtype: float64

In [65]:
dataset.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Year                    2021.00
Cereals and products     147.15
Meat and fish            199.95
Egg                      173.20
Milk and products        157.75
Fruits                   156.65
Vegetables               168.45
Food and beverages       163.70
Fuel and light           160.70
dtype: float64

In [74]:
import statistics
from statistics import StatisticsError
for col in dataset:
  print(col, end="\t")
  try:
    modedata=statistics.mode(dataset[col])
  except StatisticsError:
    print ("No unique mode found")

Egg	No unique mode found
Fruits	No unique mode found
Vegetables	No unique mode found
Fuel and light	No unique mode found
Cereals and products	No unique mode found
Milk and products	No unique mode found